* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.carousel {
    position: relative;
    width: 520px;
    height: 280px;
    margin: 100px auto;
}
.left{
    position: absolute;
    width: 20px;
    height: 30px;
    bottom: 50%;
    margin-bottom: -10px;
    left: 0;
    border-radius: 0 10px 10px 0;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
}
.right{
    position: absolute;
    width: 20px;
    height: 30px;
    bottom: 50%;
    margin-bottom: -10px;
    right: 0;
    border-radius: 10px 0 0 10px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
}
.carousel ul {
    position: absolute;
    left: 50%;
    bottom: 5px;
    width: 70px;
    margin-left: -35px;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 10px;
}
.carousel li{
    float: left;
    width: 8px;
    height: 8px;
    margin: 3px;
    border-radius: 50%;
    background-color: #bababa;
}
.carousel li input {
    border: none;
}
.carousel li:first-child {
    background-color: #ff8431;
}

.load {
    display: none;
    position: absolute;
    width: 520px;
    height: 280px;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
}
.load a {
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff8431;
}

.carousel:hover .load {
    display: block;
}