@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon-v1.0/fonts/icomoon.eot?2ytwfs');
    src: url('../fonts/icomoon-v1.0/fonts/icomoon.eot?2ytwfs#iefix') format('embedded-opentype'),
        url('../fonts/icomoon-v1.0/fonts/icomoon.ttf?2ytwfs') format('truetype'),
        url('../fonts/icomoon-v1.0/fonts/icomoon.woff?2ytwfs') format('woff'),
        url('../fonts/icomoon-v1.0/fonts/icomoon.svg?2ytwfs#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.font_color_red {
    color: #c81623;
}
.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.shortcut ul li {
    float: left;
}

.area {
    width: 1200px;
    margin: 0 auto;
}

.area .shortcut_left {
    float: left;
    width: 200px;
}
.area .shortcut_right {
    float: right;
}

.shortcut_right ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    margin: 9px 10px 0 10px;
    background-color: black;
}

.shortcut_font_icon::after {
    padding-left: 3px;
    content: '\e901';
    font-family: "icomoon";
}
.header {
    position: relative;
    height: 105px;
}

.header .logo{
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
}

.logo a {
    display: block;
    width: 171px;
    height: 61px;
    font-size: 0;
    background: url(../images/logo.png) no-repeat;
}

.header .search_hotwords {
    position: absolute;
    top: 25px;
    left: 300px;
    width: 538px;
    height: 36px;
    border: 2px solid #c81623;
}

.search_hotwords .search {
    height: 100%;
}

.search input {
    height: 100%;
    outline: none;
}
.search input[type=search] {
    float: left;
    width: 484px;
}
.search input[type=button] {
    float: right;
    width: 50px;
    color: #f1f1f1;
    font-size: 12px;
    background-color: #b1191a;
}

.search_hotwords .hotwords {
    height: 40px;
    margin-top: 5px;
    font-size: 10px;
}

.hotwords ul li {
    float: left;
}

.hotwords ul li a {
    padding: 0 10px;
}

.header .shopcar {
    position: absolute;
    top: 25px;
    right: 60px;
    width: 140px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
}

.shopcar a::before {
    margin: 0 10px;
    content: '\e93a';
    color: #b1191a;
    font-family: "icomoon";
}

.shopcar a::after {
    margin: 0 10px;
    content: '\e903';
    font-size: 10px;
    font-family: "icomoon";
}

.shopcar .count {
    position: absolute;
    top: -5px;
    left: 105px;
    padding: 0 5px;
    height: 14px;
    background-color: #b1191a;
    text-align: center;
    line-height: 14px;
    color: #f7f7f7;
    border-radius: 7px 7px 7px 0;
}

.nav {
    height: 46px;
    border-bottom: 2px solid #b1191a;
}

.nav .dropdown {
    float: left;
    width: 210px;
    height: 45px;
    background-color: #b1191a;
}

.dropdown .dt{
    text-align: center;
    line-height: 45px;
    color: #f7f7f7;
    font-size: 14px;
}


.dropdown .dd {
    position: relative;
    visibility: hidden;
    height: 465px;
    margin-top: 1px;
    background-color: #c81623;
}

.dropdown:hover .dd{
    visibility: visible;
}

.dd ul li {
    height: 31px;
    margin-left: 1px;
    line-height: 31px;
    color: #f1f1f1;
    border-bottom: 1px solid #dfdfdf;
}

.dd ul li a {
    padding-left: 10px;
    font-size: 14px;
    color: #f1f1f1;
}

.dd ul li a::after {
    position: absolute;
    right: 10px;
    line-height: 31px;
    content: '\e903';
    font-size: 10px;
    font-family: "icomoon";
}

.dd ul li:hover,
.dd ul li:hover a {
    color: #c81623;
    background-color: #f1f1f1;
}

.navitems {
    float: left;
    padding-left: 20px;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
}
.navitems li {
    float: left;
}

.navitems li a {
    padding: 0 25px;
}

.footer {
    height: 400px;
    padding-top: 30px;
}
.footer .mod_service {
    height: 80px;
    border-bottom: 1px solid #f1f1f1;
}
.mod_service ul {
    height: 50px;
}

.mod_service li {
    float: left;
    width: 240px;
    height: 50px;
    padding-left: 35px;
}

.mod_service h5 {
    float: left;
    width: 50px;
    margin-right: 8px;
    line-height: 50px;
    font-size: 0;
    background: url(../images/icons.png) no-repeat; 
}
.service_text {
    margin-top: 5px;
}

.service_text h4 {
    font-size: 14px;
}
.service_text p {
    font-size: 12px;
}

.mod_service .service_bg_one {
    background-position: -253px -3px;
}
.mod_service .service_bg_two {
    background-position: -254px -54px;
}
.mod_service .service_bg_three {
    background-position: -256px -106px;
}
.mod_service .service_bg_four {
    background-position: -257px -156px;
}
.mod_service .service_bg_five {
    background-position: -255px -209px;
}

.mod_help {
    margin-top: 10px;
    height: 200px;
}

.mod_help dl {
    float: left;
    text-align: left;
    width: 200px;
    padding-left: 30px;
    font-size: 12px;
}

.mod_help dl dt {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}
