.main {
    margin-left: 220px;
    width: 980px;
    height: 465px;
    padding-top: 10px;
}

.main .focus {
    float: left;
    width: 721px;
    height: 100%;
}

.main .news_flash {
    float: right;
    width: 250px;
    height: 100%;
}
.news_flash .news {
    height: 165px;
    margin-bottom: -1px;
    border: 1px solid #e5e5e5;
}
.news li {
    height: 24px;
    margin-top: 2px;
    padding-left: 15px;
    line-height: 24px;
}
.news li:first-child {
    height: 33px;
    font-size: 14px;
    margin-top:0;
    line-height: 33px;
    border-bottom: 1px dashed #e5e5e5;
}
.news li:first-child a{
    float: right;
    font-size: 12px;
    padding-right: 10px;
}

.news li:first-child a::after {
    padding-left: 3px;
    content: '\e903';
    font-family: "icomoon";
}

.news li:last-child {
    margin-bottom: 12px;
}

.news_flash .lifeservice {
    height: 209px;
    overflow: hidden;
    margin-bottom: 5px;
    border: 1px solid #e5e5e5;
    border-top: 0;
}

.lifeservice ul {
    width: 270px;
}

.lifeservice li {
    float: left;
    height: 70px;
    width: 63px;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-left: 0;
    border-top: 0;
}

.lifeservice li .bg {
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    width: 32px;
    height: 32px;
    background: url(../images/icons.png) no-repeat;
}

.lifeservice li .news_one {
    background-position: -17px -15px;
}
.lifeservice li .news_one {
    background-position: -17px -15px;
}
.lifeservice li .news_one {
    background-position: -17px -15px;
}
.lifeservice li .news_one {
    background-position: -17px -15px;
}
.lifeservice li .news_one {
    background-position: -17px -15px;
}
.lifeservice li .news_one {
    background-position: -17px -15px;
}
.lifeservice li .news_one {
    background-position: -17px -15px;
}
.lifeservice li .news_one {
    background-position: -17px -15px;
}
.lifeservice li .news_one {
    background-position: -17px -15px;
}
.lifeservice li .news_one {
    background-position: -17px -15px;
}
.lifeservice li .news_one {
    background-position: -17px -15px;
}
