.main {
    margin-left: 220px;
    width: 980px;
    height: 465px;
    padding-top: 10px;
}


/* 轮播图模块 */
.main .focus {
    float: left;
    width: 721px;
    height: 100%;
}
/* 快讯模块 */
.main .news_flash {
    float: right;
    width: 250px;
    height: 100%;
}
.news_flash .news {
    height: 165px;
    margin-bottom: -1px;
    border: 1px solid #e5e5e5;
}
.news li {
    height: 24px;
    margin-top: 2px;
    padding: 0 15px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news li:first-child {
    height: 33px;
    font-size: 14px;
    margin-top:0;
    line-height: 33px;
    border-bottom: 1px dashed #e5e5e5;
}
.news li:first-child a{
    float: right;
    margin-right: 0;
    font-size: 12px;
}

.news li:first-child a::after {
    padding-left: 3px;
    content: '\e903';
    font-family: "icomoon";
}

.news li:last-child {
    margin-bottom: 12px;
}

.news_flash .lifeservice {
    height: 209px;
    overflow: hidden;
    margin-bottom: 5px;
    border: 1px solid #e5e5e5;
    border-top: 0;
}

.lifeservice ul {
    width: 270px;
}

.lifeservice li {
    float: left;
    height: 70px;
    width: 63px;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-left: 0;
    border-top: 0;
}
.lifeservice li a{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.lifeservice .reduction::after {
    position: absolute;
    width: 14px;
    height: 20px;
    top: 0;
    right: 0;
    content: "减";
    line-height: 15px;
    text-align: center;
    font-size: 12px;
    background-color: green;
    color: aliceblue;
    z-index: 1;
}
.lifeservice .reduction::before {
    position: absolute;
    top: 12px;
    right: -1px;
    content: "";
    border: 8px solid transparent;
    border-top: 0;
    border-bottom-color: #fff;
    z-index: 2;
}


.lifeservice li .bg {
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    width: 32px;
    height: 32px;
    background: url(../images/icons.png) no-repeat;
}

.lifeservice li .news_one {
    background-position: -19px -15px;
}

/* 推荐模块 */
.recom {
    height: 163px;
    margin-top: 12px;
    background-color: #ebebeb;
}

.recom_hd {
    float: left;
    width: 205px;
    height: 100%;
    text-align: center;
    line-height: 163px;
    color: #fff;
    font-size: 16px;
    background-color: #5c5251;
}

.recom_bd {
    float: left;
    height: 100%;
}


.recom_bd ul li {
    position: relative;
    float: left;

}
.recom_bd ul li img {
    width: 248px;
    height: 163px;
}

.recom_bd ul li:nth-child(-n+3):after {
    position: absolute;
    top: 10px;
    right: 0;
    content: '';
    width: 1px;
    height: 145px;
    background-color: #ddd;
}

/* 电梯层 */
.lift {
    position: fixed;
    top: calc(50% - 80px);
    left: 0;
    width: 80px;
}
.lift ul li {
    height: 30px;
    color: #ddd;
    background-color: #fff;
    border-bottom: 1px solid black;
}

.lift ul a {
    display: inline-block;
    width: 100%;
    line-height: 30px;
    text-align: center;
}

.lift ul a:hover {
    color: #fff;
    background-color: #c81623;
}

.like {
    margin-top: 15px;
    height: 292px;
}

.like .like_text {
    height: 50px;
    font-size: 16px;
    line-height: 50px;
}

.like_text a {
    float: right;
    font-size: 12px;
    padding-right: 20px;
}

.like_text a::after {
    content: "\e984";
    padding-left: 10px;
    font-family: "icomoon";
}


.like .like_media {
    height: 242px;
    border: 1px solid #e5e5e5;
}

.like_media ul li {
    float: left;
    width: 200px;
    text-align: center;
}

.like_media ul li img {
    padding: 10px 0;
}

.like_media ul li .text {
    padding: 5px 35px;
    border-right: 1px solid #e5e5e5;
}

.like_media ul li:last-child {
    width: 198px;
}

.like_media ul li:last-child .text {
    border-right: none;
}


.text h3 {
    text-align: left;
    color: #df3033;
}


.interesting {
    margin-top: 20px;
    height: 446px;
}


.interesting .interesting_text {
    height: 40px;
    font-size: 16px;
    line-height: 40px;
}

.interesting .interesting_media {
    height: 406px;
    border: 1px solid #e5e5e5;
}

.interesting_media .book {
    width: 399px;
    float: left;
    overflow: hidden;
}

.interesting_media .great {
    float: left;
    width: 226px;
    height: 100%;
    border-right: 1px solid #e5e5e5;
}

.great ul li:first-child {
    border-bottom: none;
}

.great h3 {
    width: 190px;
    height: 40px;
    margin: 0 17px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px dashed #e5e5e5;
}

.great .one {
    height: 40px;
    margin-top:0;
    margin-left: 0;
}


.great .two {
    padding: 34px 0px 10px 6px;
    border-bottom: 1px solid #e5e5e5;
}

.great .three {
    padding: 10px 0 0 7px;
    border-bottom: none;
}

.brand_street {
    float: left;
    width: 402px;
    border-right: 1px solid #e5e5e5;
}

.brand_street h3{
    width: 360px;
    height: 40px;
    margin: 0 17px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px dashed #e5e5e5;
}

.brand_street .street_one {
    padding: 35px 0px 10px 50px;
    border-bottom: 1px solid #e5e5e5;
}


.brand_street .street_two {
    height: 157px;
}

.street_two a {
    float: left;
    width: 200px;
    height: 157px;
    padding: 19px 0 0 18px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.street_two a:last-child {
    padding-left: 20px;
    border-right: none;
}
.brand_list {
    float: right;
    height: 100%;
    overflow: hidden;
}


/* 楼层区 */
.floor {
}

.box_hd {
    padding-top:25px;
    padding-bottom: 5px;
    height: 56px;
    border-bottom: 3px solid #c81623;
}
.box_hd span {
    font-size: 16px;
    font-weight: 600;
    color: #c81623;
    line-height: 20px;
}

.box_hd ul {
    float: right;
    height: 20px;
    display: inline;
    text-align: center;
}

.box_hd ul li {
    float: left;
    height: 15px;
    line-height: 26px;
    
}
.box_hd ul li a {
    padding: 0 15px;
    border-left: 1px solid black;
}

.box_hd ul>li:last-child>a {
    padding-right: 10px;
}

.box_hd ul>li:first-child>a{
    border-left: 0;
}

.floor .tab_content {
    height: 360px;
}

.tab_content>div {
    float: left;
}

.tab_content div[class^="content_"] {
    float: left;
    height: 100%;
}

.tab_content .content_one {
    width: 210px;
    height: 100%;
    background-color: #fbfbfb;
    text-align: center;
}

.content_one .electrical_text {
    width: 100%;
    
}

.electrical_text ul li {
    float: left;
    width: 86px;
    height: 32px;
    text-align: center;
    margin: 0 12px;
    border-bottom: 1px solid #e5e5e5;
}

.electrical_text ul li:nth-child(2n) {
    margin-left: 0;
}

.electrical_text ul li a {
    display: inline-block;
    line-height: 32px;
}

.tab_content .content_two {
    width: 330px;
    height: 100%;
}

.content_three img {
    display: block;
    width: 220px;
    height: 180px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.content_four img {
    width: 220px;
    height: 360px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.content_five img {
    display: block;
    width: 220px;
    height: 180px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.brand {
    margin-top: 20px;
    height: 66px;
}