@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon-v1.0/fonts/icomoon.eot?2ytwfs');
    src: url('../fonts/icomoon-v1.0/fonts/icomoon.eot?2ytwfs#iefix') format('embedded-opentype'),
        url('../fonts/icomoon-v1.0/fonts/icomoon.ttf?2ytwfs') format('truetype'),
        url('../fonts/icomoon-v1.0/fonts/icomoon.woff?2ytwfs') format('woff'),
        url('../fonts/icomoon-v1.0/fonts/icomoon.svg?2ytwfs#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

a:hover{
    color: black;
}

.sk {
    position: absolute;
    left: 190px;
    padding: 3px 0 3px 5px;
    top: 40px;
    width: 60px;
    height: 40px;
    border-left: 1px solid #c81623;
}
.sk img {
    display: inline-block;
    margin-left: 5px;
    width: 56px;
    height: 30px;
}

.navitems ul li:nth-child(-n+3) a {
    font-size: 16px;
}

.navitems ul li:last-child a::after {
    padding-left: 5px;
    content:"\e901";
    font-family: "icomoon";
}

.list {
    background-color: #e5e5e5;
    background-color: transparent;
}

.list .list_header {
    height: 120px;
    text-align: center;
    background: url(../images/banner1.png) no-repeat;
}

.list_header .list_title {
    padding-top: 20px;
    color: #c81623;
    font-size: 18px;
    line-height: 40px;
}

.list_header .list_title h3::before {
    content: "\e958";
    font-family: "icomoon";
    font-size: 25px;
}

.list_header .list_hot {
    margin-top: 10px;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.list_hot p {
    display: inline;
    margin: 0 20px;
}
.list_hot span{
    margin-bottom: 3px;
    display: inline-block;
    width: 50px;
    height: 1px;
    background-color: black;
}
.list_data {
    display: inline-block;
    background-color: #fff;
    /* height: 500px; */
}

.list_data ul li {
    float: left;
    width: 288px;
    height: 430px;
    text-align: center;
    margin-right: 16px;
    border: 1px solid transparent;
}

.list_data ul li:nth-child(4n) {
    margin-right: 0;
}

.list_data ul li:hover {
    border-color: #c81623;
    box-shadow: 1px -1px 6px -1px #b1b1b1;
}

.text .price,
.product_number {
    height: 25px;
    padding-top: 6px;
    padding-left: 10px;
    text-align: left;
}

.text .price>*,
.product_number>*:nth-child(n) {
    line-height: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: bottom;
}


.price>*:first-child{
    color: #c81623;
}

.price del {
    color: #b1b1b1;
}


.product_number {
    margin-bottom: 15px;
}
.product_number>* {
    margin: 0 4px;
}

.product_number .bar {
    position: relative;
    width: 133px;
    border-radius: 14px;
    border: 1px solid red;
    background-color: red;
}

.text .product_number .bar::after {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 10px;
    right: 0px;
    content: '';
    border-radius: 0px 14px 14px 0px;
    background-color: white;
}

.text .buying{
    width: 100%;
    height: 39px;
    background-color: #c81623;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
