* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #f3f5f7;
}

a {
    font-display: none;
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

.head{
    padding: 20px 0;
    height: 42px;
    width: 1200px;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 195px;
    background-color: transparent;
}
.nav {
    float: left;
    margin-left: 60px;
    height: 42px;
    width: 332px;
}

.nav li {
    float: left;
}
.nav li a {
    display: block;
    height: 42px;
    padding: 0 25px;
    font-size: 18px;
    color: #050505;
    line-height: 42px;
}
.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search {
    float: left;
    height: 42px;
    width: 412px;
}

.search .text {
    float: left;
    margin-left: 10px;
    padding-left: 10px;
    width: 349px;
    height: 39px;
    border: 2px solid #00a4ff;
    font-size: 14px;
    color: #b0b0b0;
}

.search .text:focus {
    border: 2px solid #00a4ff;
}

.search .button {
    float: left;
    height: 42px;
    background-color: #00a4ff;
}

.search .button .image-button{
    padding: 10px 10px;
    background-color: #00a4ff;
}

.user_info{
    float: left;
    height: 30px;
    margin: 6px 25px;
}

.user_info .image {
    float: left;
    border-radius: 15px;
}

.user_info p {
    float: left;
    padding: 0 5px;
    font-size: 14px;
    line-height: 30px;
    color: #696969;
}

.user_info p:hover {
    color: #00a4ff;
}

.banner{
    height: 420px;
    background-color: #1c036c;
}
.banner .info {
    margin: 0 auto;
    width: 1200px;
    height: 420px;
    background: url(images/banner2.png) no-repeat top center;
}

.info .select {
    float: left;
    width: 190px;
    height: 420px;
    font-size: 14px;
    background: rgba(0, 0, 0, .3);
}
.info .select li {
    float: left;
    padding: 10px 0;
    margin: 3px 0;
}

.info .select li>a {
    float: left;
    color: aliceblue;
    width: 150px;
    padding: 0 20px 0 20px;
}

.info .select li>a>span {
    float: right;
}

.info .select li>a:hover {
    color: #00a4ff;
}

.info .source {
    float: right;
    width: 230px;
    height: 300px;
    background-color: aliceblue;
    margin: 60px 0;
}

.source .source_head {
    background-color: #9bceea;
    height: 50px;
    text-align: center;
    
}

.source .source_head span {
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
}

.source .source_list {
    margin: 0 auto;
    height: 195px;
    width: 190px;
}

.source .source_list li {
    height: 62px;
    border-bottom: 1px solid #b0b0b0;
}

.source .source_list li .text-one {
    padding-top: 15px;
    font-size: 14px;
    color: #050505;
}
.source .source_list li .text-two {
    font-size: 12px;
    padding-bottom: 10px;
    color: #b0b0b0;
}

.source .all_source {
    height: 55px;
}

.source .all_source a {
    float: left;
    width: 200px;
    height: 40px;
    margin: 0 15px;
    border: 2px solid #00a4ff;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #00a4ff;
}
.source .all_source a span {
    line-height: 40px;
}
.recommend {
    height: 50px;
    width: 1200px;
    margin: 10px auto 2px auto;
    background-color: #fff;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .2);
}

.recommend ul li {
    float: left;
    margin: 12px auto;
    border-right: 1px solid black;
}

.recommend ul li span {
    float: left;
    padding: 0 20px;
}

.recommend ul li:last-child {
    border-right: none;
}

.recommend ul li a:hover {
        color: #00a4ff;
}

.recommend .recommend_ext a {
    float: right;
    margin: 12px auto;
    padding: 0 20px;
    color: #00a4ff;
    font-size: 14px;
}

.column {
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
}

.column>div {
    float: left;
    width: 1200px;
    margin: 0 auto;
}

.column>div .name {
    margin-top: 35px;
    height: 42px;
}

.column>div .name .column_name {
    float: left;
}

.column>div .name .level {
    display: inline-block;
    width: 1000px;
    font-size: 16px;
    color: #b0b0b0;
    text-align: center;
}

.column>div .name .level a {
    padding: 0 50px;
}

.column>div .name .level a:hover {
    color: #00a4ff;
}

.column>div .name .all{
    float: right;
    padding-right: 20px;
    font-size: 12px;
    color: #b0b0b0;
}

.column>div .data li {
    float: left;
    width: 230px;
    height: 270px;
    margin-left: 12.5px;
    margin-top: 10px;
    background-color: #fff;
}

.column>div .data li:first-child {
    margin-left: 0;
}

.column>div .data li img {
    width: 100%;
}

.column>div .data li .price {
    height: 117px;
    width: 100%;
}

.column>div .data li .price .preview_one {
    text-align: center;
    padding: 20px 10px 10px 10px;
    font-size: 14px;
}

.column>div .data li .price .price_info>p {
    float: left;
    margin: 0 auto;
    padding-left: 10px;
    font-size: 12px;
    color: #b0b0b0;
}

.column>div .data li .price .price_info>p:first-child {
    padding-left: 20px;
    color: #ff7c2d;
}

.over {
    height: 420px;
    margin-top: 35px;
    background-color: #fff;
}
.over .over_left {
    width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.over_left .logo {
    width: 600px;
    float: left;
}

.over_left .logo .text {
    font-size: 12px;
    margin: 10px 0px;
}
.over_left .logo .text {
    height: 55px;
}

.logo .download a {
    float: left;
    width: 120px;
    height: 40px;
    border: 2px solid #00a4ff;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #00a4ff;
}
.logo .download a span {
    line-height: 40px;
}

.over_right {
    float: right;
    width: 600px;
}

.over_right table {
    text-align: left;
}

.over_right table th {
    padding-bottom: 10px;
    font-size: 16px;
}

.over_right table td {
    width: 215px;
    font-size: 12px;
}